<body>
  <link rel="stylesheet" href="about.component.css">
  <section class="about-me" id="about-me">
    <!--About Me-->
    <div class="left">
      <div class="inner transition2">
        <p class="hello-world">Hello, world!</p>
        <p class="featured-desc">I am Michael Dave Sumang, a 21 year old Backelor of Science in Information Technology
          student, specializing in Web Development. I am currently based in San Fernando, Pampanga, Philippines. I am
          interested in making modern and sleek looking websites.</p>
      </div>
    </div>
    <img class="right transition2" src="assets/picture.png" alt="my image">

  </section>
</body>