<body>
  <div class="skills-educ">
    <link rel="stylesheet" href="skills.component.css">
    <div class="educ">
      <p class="subHeads">Education</p>
      <p>Grade School: Filbern School (A.Y. 2007 - 2013)</p>
      <p>Junior High School: University of the Assumption (A.Y. 2013 - 2017)</p>
      <p>Senior High School: University of the Assumption (A.Y. 2017 - 2019)</p>
      <p>College: Holy Angel University (A.Y. 2019 - Present)</p>
    </div>

    <div class="skills">

      <p class="subHeads">Programming Skills:</p>
      <p>Java</p>
      <p>Python</p>
      <p>PHP</p>
      <p>HTML</p>
      <p>CSS</p>
      <p>JavaScript
    </div>

    <div class="skills">
      <p class="subHeads">Database Management:</p>
      <p>MySQL </p>
      <p>MongoDB </p>
    </div>

  </div>
</body>