<body>
  <link rel="stylesheet" href="contact.component.css">
  <section>
    <div class="footer-left" id="contact">
      <div class="inner">
        <p class="contact-information">Contact Information</p>
        <p class="email"><span class="email-desc">E-mail: </span>mdsumang.091@gmail.com</p>
        <p class="phone"><span class="phone-desc">Phone: </span>+63 939 604 5976</p>
        <p class="address"><span class="add-desc">Address: </span>San Fernando, Pampanga, Philippines</p>
      </div>
    </div>

    <div class="footer-right">
      <a href="https://www.instagram.com/sumangmd/"><img class="ig-logo" src="assets/ig_logo.png" alt="ig logo"></a>
      <a href="https://www.facebook.com/mds.091/"> <img class="fb-logo" src="assets/fb_logo.png" alt="fb logo"></a>
      <a href="https://twitter.com/sumangmd"> <img class="twitter-logo" src="assets/twitter_logo.png"
          alt="twitter logo"></a>
    </div>

  </section>
</body>