body{
     background-color:  #141616;
     max-width: 100vw;
    height: 100vh;
}

.main{
    
    text-align: center;
    padding-top: 17em;
}

h1{
    font-size: 10em;
    color: white;
}

span{
    font-size: .5em;
    color: #75e6da;
}

p{
    font-size: 3em;
    color: white;
}


