body{
    max-width: 100vw;
    background-color:  #141616;

}
p{
    color: white;
}



img{
    max-width: 50em;
    max-height: 50em;
    
}

.portfolio-container{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% auto;
        grid-template-columns: 50% auto;
}

 .portfolio-container .subtitle {
    padding-top: 2em;
    font-size: 1em;
    margin-bottom: -.01em;
  
  }
  .portfolio-container .featured-title {

    font-size: 2.5em;
    margin-bottom: -.03em;
  }
  .portfolio-container .featured-desc {
    font-size: 1em;
    margin-bottom: -.03em;
  }
  .portfolio-container .featured-skills {

    font-size: .9em;
    color: #87b0e2;
  }
  .portfolio-container .portfolio-left {
    padding-left: 5em;
  }
  .portfolio-container img {
    padding-left: 8em;
  }

  .fworks{
    padding-left: .9em;
    padding-top: .17em;
    font-size: 5em;
    color: #75e6da;
  }