<body>
  <link rel="stylesheet" href="portfolio.component.css">

  <section class="portfolio" id="portfolio">
    <!--Featured Projects-->
    <p class="fworks transition3">Featured Works</p>


    <div class="portfolio-container transition3">
      <div class="portfolio-left">
        <div class="inner">
          <p class="subtitle">Database</p>
          <p class="featured-title">By The Way Snack House Feedback System Database</p>
          <p class="featured-desc">Customer response and feedback system for By The Way Snack House</p>
          <p class="featured-skills">PHP, MongoDB, CSS</p>
        </div>
      </div>
      <img src="assets/btwdb_arti.png" alt="btwsnackhouse db">
    </div>

    <div class="portfolio-container transition3">
      <div class="portfolio-left">
        <div class="inner">
          <p class="subtitle">Website</p>
          <p class="featured-title">By The Way Snack House Website</p>
          <p class="featured-desc">The official website for By The Way Snack House</p>
          <p class="featured-skills">Wordpress</p>
        </div>
      </div>

      <img src="assets/btwsh_arti.png" alt="btwsnackhouse site">
    </div>

    <div class="portfolio-container transition3">
      <div class="portfolio-left">
        <div class="inner">
          <p class="subtitle">Database</p>
          <p class="featured-title">Holy Angel University Library Database System</p>
          <p class="featured-desc">Submitted library inventory system for the Holy Angel University Library</p>
          <p class="featured-skills">PHP, MySQL, CSS</p>
        </div>
      </div>
      <img src="assets/haulib_arti.png" alt="library db">
    </div>

    <div class="portfolio-container transition3">
      <div class="portfolio-left">
        <div class="inner">
          <p class="subtitle">Website</p>
          <p class="featured-title">Jollibee Website
            Reimagining
          <p class="featured-desc">My own interpretation of Jollibee's website</p>
          <p class="featured-skills">HTML, CSS, Javascript</p>
        </div>
      </div>
      <img src="assets/jb_arti.png" alt="jollibee site">
    </div>

    <div class="portfolio-container transition3">
      <div class="portfolio-left">
        <div class="inner">
          <p class="subtitle">Website</p>
          <p class="featured-title">Holy Angel University's School of Computing Home Page</p>
          <p class="featured-desc">My own interpretation of the School of Computing's Home Page</p>
          <p class="featured-skills">HTML, CSS</p>
        </div>
      </div>
      <img src="assets/soc_arti.png" alt="soc site">
    </div>
  </section>

</body>